@model hoghoogh_app.Models.User

@{
    ViewData["Title"] = "اصلاح کاربر";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<h1>اصلاح کاربر</h1>

<h4>اصلاح کاربر</h4>
<div dir="rtl">
    @if (ViewBag.edited == "1")
    {
        <div class="alert alert-success">
            <strong>انجام شد!</strong> اصلاح کاریر با موفقیت انجام شد.
        </div>
    }
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_name" class="control-label"></label>
                <input asp-for="user_name" class="form-control"  required/>
                <span asp-validation-for="user_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="role" class="control-label"></label>
                <input asp-for="role" class="form-control" required/>
                <span asp-validation-for="role" class="text-danger"></span>
            </div>
            <div class="form-group"hidden>
                <label asp-for="token" class="control-label"></label>
                <input asp-for="token" class="form-control" />
                <span asp-validation-for="token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>

